@mixin font($ff, $fw) {
	font-family: $ff;
	font-weight: $fw;
}

@mixin flex($align-items:stretch, $justify-content:flex-start, $flex-wrap:nowrap, $flex-direction:row) {
	display: flex;
	align-items: $align-items;
	justify-content: $justify-content;
	flex-wrap: $flex-wrap;
	flex-direction: $flex-direction;
}

@mixin gold-text($speed:.3s) {
	background: linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}


