@media (max-width: 1440px) {
    .start {
        img {
            width: 35%;
        }
    }

    footer {
        .container {
            display: grid;
            flex-direction: column;
            gap: 100px;
        }
    }

    .download-field {
        img {
            width: 50%;
        }
    }
}

@media (max-width: 1024px) {
    .contact-main {
       .contact-content {
        flex-direction: column;
        align-items: center;
        gap: 100px 0;
        .stats {
            max-width: none!important;
        }
       }
       
    }
    .form-section {
        flex-direction: column;
        align-items: center;
        gap: 100px 0;
        .left-side{
            max-width: none!important;
        }
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .company-start {
        flex-direction: column;
        align-items: center;
        gap: 100px 0;
    }

    .mission-content {
        flex-direction: column;
        align-items: center;
        gap: 100px 0;
    }

    .partner-content {
        flex-direction: column;
        align-items: center;
        gap: 100px 0;
    }

    .blog-start {
        justify-content: space-around;
        h1 {
            max-width: 40%;
            
        }
    }
    .blog-wrapper {
        flex-wrap: wrap;
        justify-content: space-around!important;
        gap: 80px 0;
        .blog-post {
            flex-basis: auto;
        }
        
    }

    .start {
        display: flex;
        flex-direction: column;
        .start-stats {
            align-self: center;
        };
        img {
            display: none;
        }
    }

    .features  {
        .features-wrapper {
            .features-item {
                flex-basis: auto;
            }
        }
        
    }
    .how-work {
        .how-work-wrapper {
            padding: 0 5%;
            .how-work-item {
                flex-basis: auto;
            }
        }
    }

    .download-field {
        img {
           display: none;
        }
    }

    .nofees-yourcard {
        .section-1, .section-2 {
            .subtitle, .title, .title-descr {
                text-align: center;
            }
            display: flex;
            align-items: center;
            flex-direction: column;
            img {
                margin-top: 60px;
            }
            .content {
                width: 100%;
            }
        }
        .stats-item {
            flex-basis: auto!important;
        }
        .section-2 {
            flex-direction: column-reverse;
            img {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .annotation {
        display: none;
    }

    .side-left {
        align-items: center;
        display: flex;
        flex-direction: column;
        .main {
            gap: 20px;
        }
    }

    .img-third {
        display: none;
    }

    header {
        .container {
            .header-menu, .header-contact, .header-home {
                display: none!important ; 
            }
        }

    }

    .blog-start {
        flex-direction: column;
        padding: 0 40px;
    }

    .content {
        padding: 0 10px;
        width: 100%!important;
    }
    .separator {
        width: 100%!important;
    }

    .start {
        display: flex;
        flex-direction: column;
        align-items: center;
        .start-intro {
            text-align: center;
           
            .start-intro-descr {
               margin: auto;
               margin-top: 50px;
            }
            button {
                margin: auto;
                margin-top: 60px;
            }
        }
        .start-stats {
            justify-content: center;
        }
    }

    .reviews  {
        .reviews-wrapper {
            flex-direction: column;
            align-items: center;
            gap: 80px;
        }
    }
    .features  {
        .features-wrapper {
            .features-item {
                // flex-basis: auto;
                width: 100%;
            }
        }
        
    }
    
    .main-blogs-section {
        flex-direction: column;
        gap: 60px;
        align-items: center;
        button {
            font-size: 16px!important;
            line-height: 1rem!important;
        }
    }

   
   
    footer {
        .container {
            .upper-lists, .down-lists {
                flex-wrap: wrap;
            }
        }
    }
}

@media (max-width: 425px) {
    .contact-start {
        display: flex;
        flex-direction: column;
        gap: 40px 0;
    }

    h1 {
        font-size: 70px;
    }

    .partner-content {
        .side-right {
            .item {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .blog-start {
        flex-direction: column;
        padding: 0!important;
    }
    
    .accent {
        font-size: 50px!important;
    }
    .start-stats-item {
        width: auto!important;
    }
    .text {
        text-align: right;
        max-width: 100px;
    }
    .subtitle {
        font-size: 18px;
    }
    .title {
        font-size: 55px;
    }

    .features-item {
        min-width: 0px!important;
        .item-title {
            font-size: 50px!important;
        }
        .item-content {
            padding: 40px 20px!important;
        }
        .item-descr{
            max-width: 250px;
        }
        
    }
    
    .download-field {
        padding: 40px 20px!important;
        .title {
            text-align: center;
            font-size: 50px;
        }
        .sources-wrapper {
            flex-direction: column;
        }
    }
    footer {
        padding: 40px!important;
        .footer-links {
            flex-direction: column;
            gap: 0px;
            min-width: 0px!important;
        }
        .buttons {
            flex-direction: column;
            button {
                width: 100%!important;
            }
        }
    }

    .features  {
        .features-wrapper {
            .features-item {
                img {
                    display: none;
                }
            }
        }
        
    }
}

@media (max-width: 375px) {
    .circles > *{
        display: none;
    }

    .start-stats-item {
        .content {
            gap: 10px!important;
        }
        
    }

    .circles{
        display: none!important;
    }
        
    
    
}